.split {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 920px) {
  .scroll-up {
    position: relative;
  }
  .scroll-down {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px rgba(200, 200, 200, 0.5));
  }
}

@media screen and (min-width: 1200px) {
  .about,
  .skills,
  .blog,
  .faqs {
    align-items: flex-start;
    justify-content: center;
  }

  .about .content,
  .skills .content,
  .blog .content,
  .faqs .content {
    width: 60%;
    max-width: inherit;
  }

  .featured .content {
    width: 50%;
    min-width: 600px;
  }

  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* split adjacent sibling selector */
  .split > * + * {
    margin: 1em;
  }
}

@media screen and (max-width: 1200px) {
  section {
    .content {
      border-radius: 0;
    }

    .products {
      margin-top: 10px;
    }
  }

  footer {
    flex-direction: column;
  }
}

@media screen and (min-width: 920px) {
  .featured .content {
    width: 50%;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  section {
    flex-direction: column;
  }

  .featured .content {
    width: 95%;
  }

  .avatar {
    display: none;
  }

  .navbar {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .tabs {
    li {
      margin: 4px;

      .btn-tab {
        display: block;
        padding: 10px;
        width: 100%;
      }
    }
  }
}
