.navbar {
  display: block;

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;

    li {
      margin-left: 1.5rem;

      a {
        //   display: block;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        text-transform: capitalize;
        border-bottom: 1px solid transparent;
      }

      .icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active {
  border-bottom: 1px solid var(--primary);
}

.sidebar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 10;

  .btn-toggle {
    display: block;
    padding: 0;
    margin-top: 1rem;
    margin-right: 1rem;

    span {
      font-size: 1.8rem;
    }
  }

  .overlay {
    position: absolute;
    width: 0;
    min-height: 100vh;
    top: 70px;
    right: 0;
    background: var(--darker);
    opacity: 0;
    z-index: 10;

    &.active {
      width: 800px;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .slide-menu {
    position: absolute;
    top: 70px;
    right: 0;
    padding: 1rem;
    background: var(--darker);
    min-height: 100vh;
    width: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    z-index: 99;

    &.active {
      width: 200px;
      opacity: 1;
      pointer-events: auto;
    }

    li {
      display: block;
      background: inherit;
      transition: all 0.5s;

      a {
        display: block;
        margin: 1rem 0;
        padding: 1rem;
        text-transform: capitalize;
      }

      .icon {
        margin-right: 0.5rem;
      }

      &:hover,
      &:focus,
      &.active {
        background: var(--primary);

        .nav-item {
          color: var(--black);
        }
      }
    }
  }
}
