section {
  display: flex;
  width: 100%;

  .content {
    margin: 1rem;
    border-radius: 0.3rem;
  }

  .headline {
    color: var(--light);
  }

  .subtitle {
    color: var(--primary);
  }
}

.about {
  min-height: 50vh;
}

.faqs,
.contact {
  min-height: 70vh;
}

.hero,
.contact {
  padding: 5px;
  background: var(--hero-gradient);
  color: var(--light);

  .title {
    color: var(--accent);
  }

  li {
    line-height: 1.5rem;

    a {
      color: var(--light);
      font-size: 1.2rem;

      &:hover,
      &:focus {
        color: var(--accent);
        opacity: 1;
        animation: hoverfade 0.3s ease-in;
      }
    }
  }
}

.hero {
  justify-content: space-between;

  .logo {
    width: 100px;
    height: 100px;
  }

  a {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.featured {
  margin: 0;
  padding: 1rem 0;
  background: var(--lightblue-gradient);
  color: var(--dimmed);

  .title {
    color: var(--black);
  }

  .subtitle {
    color: var(--black);
  }
}

.about,
.skills {
  background: var(--lightgrey);

  .content {
    p {
      color: var(--black);
    }
  }

  .title {
    color: var(--a);
  }
}

.portfolio {
  padding-bottom: 1em;

  .content {
    background: var(--hero-gradient);
    color: var(--light);
  }
}

.blog,
.faqs {
  padding: 5px;
  background: var(--lightgrey);

  .content {
    p {
      color: var(--dark);
    }
  }

  .title {
    color: var(--black);
  }

  .headline {
    color: var(--black);
  }

  .subtitle {
    color: var(--black);
  }
}
