section {
  display: flex;
  width: 100%;
}
section .content {
  margin: 1rem;
  border-radius: 0.3rem;
}
section .headline {
  color: var(--light);
}
section .subtitle {
  color: var(--primary);
}

.faqs,
.contact {
  min-height: 90vh;
}

.hero,
.contact {
  padding: 5px;
  background: var(--hero-gradient);
  color: var(--light);
}
.hero .title,
.contact .title {
  color: var(--accent);
}
.hero li,
.contact li {
  line-height: 1.5rem;
}
.hero li a,
.contact li a {
  margin: 1em;
  color: var(--light);
  font-size: 1.2rem;
}
.hero li a:hover, .hero li a:focus,
.contact li a:hover,
.contact li a:focus {
  color: var(--accent);
  opacity: 1;
  -webkit-animation: hoverfade 0.3s ease-in;
          animation: hoverfade 0.3s ease-in;
}

.hero {
  justify-content: space-between;
}
.hero .logo {
  width: 100px;
  height: 100px;
}
.hero a {
  margin-right: 10px;
  vertical-align: middle;
}

.featured {
  padding: 1em 0;
  background: var(--lightblue-gradient);
  color: var(--dimmed);
}
.featured .title {
  color: var(--black);
}
.featured .subtitle {
  color: var(--black);
}

.about,
.skills {
  background: var(--purple);
}
.about .content p,
.skills .content p {
  color: var(--lightgrey);
}
.about .title,
.skills .title {
  color: var(--accent);
}

.portfolio {
  padding-bottom: 1em;
}
.portfolio .content {
  background: var(--hero-gradient);
  color: var(--light);
}

.blog,
.faqs {
  padding: 5px;
  background: var(--lightgrey);
}
.blog .content p,
.faqs .content p {
  color: var(--midgrey);
}
.blog .title,
.faqs .title {
  color: var(--black);
}
.blog .headline,
.faqs .headline {
  color: var(--black);
}
.blog .subtitle,
.faqs .subtitle {
  color: var(--black);
}