.slider-wrapper {
  display: block;
  position: relative;
  height: 480px;
  overflow: hidden;
  border-radius: 0.3rem;
}
.slider-wrapper .next,
.slider-wrapper .prev {
  position: absolute;
  display: block;
  top: 0;
  left: 85%;
  width: 15%;
  height: 100%;
  border: 1px solid transparent;
  color: var(--success);
  font-size: 25px;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
.slider-wrapper .next:hover, .slider-wrapper .next:focus,
.slider-wrapper .prev:hover,
.slider-wrapper .prev:focus {
  font-size: 30px;
  opacity: 1;
}
.slider-wrapper .prev {
  left: 0%;
  width: 10%;
}
.slider-wrapper .container-slides {
  display: block;
  position: relative;
  width: 1700px;
}
.slider-wrapper .container-slides li {
  display: inline-block;
  vertical-align: top;
}
.slider-wrapper #kl-slides {
  padding-top: 5%;
}
.slider-wrapper #kl-slides img {
  width: 80%;
}
.slider-wrapper .dotnav {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 4px;
  text-align: left;
  border-radius: 10%;
}
.slider-wrapper .dotnav li {
  display: inline-block;
}
.slider-wrapper .dotnav li .dot-jd,
.slider-wrapper .dotnav li .dot-kl {
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 50%;
  background: var(--light);
  color: var(--black);
  text-align: center;
  transition: all 0.5s ease;
}
.slider-wrapper .dotnav li .dot-jd:hover, .slider-wrapper .dotnav li .dot-jd:focus, .slider-wrapper .dotnav li .dot-jd:active, .slider-wrapper .dotnav li .dot-jd.active,
.slider-wrapper .dotnav li .dot-kl:hover,
.slider-wrapper .dotnav li .dot-kl:focus,
.slider-wrapper .dotnav li .dot-kl:active,
.slider-wrapper .dotnav li .dot-kl.active {
  background: var(--midgrey);
  border: 1px solid var(--black);
  padding: 10px;
}