.slider-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.slider-wrapper .slide {
  position: relative;
  max-width: 720px;
}
.slider-wrapper .slide img {
  border: 1px solid var(--black);
  border-radius: 2%;
  text-align: center;
}
.slider-wrapper .slide caption {
  font-size: 1.4rem;
  text-shadow: 3px 3px 3px var(--darker);
}
.slider-wrapper .menu {
  width: 100%;
  background-color: transparent;
  text-align: left;
}
.slider-wrapper .menu li {
  position: relative;
  display: inline-block;
  margin-right: 4px;
}
.slider-wrapper .menu li a {
  height: 100%;
  background: transparent;
  color: var(--dark);
  text-align: center;
}
.slider-wrapper .menu li a img {
  max-width: 360px;
  border: 2px solid var(--black);
  border-radius: 4%;
  opacity: 0.7;
  transition: all 0.5s;
}
.slider-wrapper .menu li a img:hover, .slider-wrapper .menu li a img:focus {
  opacity: 1;
}
.slider-wrapper .menu li a caption {
  bottom: 1rem;
  font-size: 1.2rem;
}
.slider-wrapper .menu li a.active img {
  border: 2px solid var(--primary);
  opacity: 1;
}