@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --dark: #000;
  --dimmed: #234;
  --midgrey: #555;
  --light: #fff;
  --lightgrey: #ddd;
  --highlight: #ccc;
  --lightblue: #8fe3ff;
  --lightblue-gradient: linear-gradient(90deg, #eee, #8fe3ff);
  --purple: #171d3e;
  --navyblue: #3552bb;
  --deepblue: #3a57be;
  --primary: #ffb822;
  --accent: #fff1c1;
  --success: darkgreen;
  --hero-gradient: linear-gradient(90deg, #171d3e, #323a5e);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  line-height: 1.2;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: normal;
}

h2,
h3,
h4,
p {
  margin-bottom: 18px;
}

h3 {
  font-size: 18px;
}

p {
  line-height: 1.5;
}

blockquote {
  margin-bottom: 10px;
  color: var(--dark);
  font-weight: bold;
}

blockquote::before {
  position: relative;
  content: "''";
  top: 20px;
  left: 0px;
  color: var(--midgrey);
  font-size: 3em;
  opacity: 0.3;
}

code,
pre {
  border-radius: 0.125em;
  font-family: "Source Code Pro", "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", monospace;
  font-size: 13px;
  line-height: inherit;
}

pre {
  background: rgba(0, 51, 102, 0.0625);
  color: #31333a;
  padding: 1rem;
  overflow: auto;
  white-space: pre-wrap;
}

.snippet {
  margin: 1em 0;
}

.highlight {
  background: var(--highlight);
}

.fa {
  margin-right: 10px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--primary);
  opacity: 1;
}

a.active {
  color: var(--primary);
}

button,
.btn {
  display: inline-block;
  padding: 1em;
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.btn-back {
  background: var(--midgrey);
}

.btn-more,
.btn-back {
  border: 1px solid var(--dimmed);
  margin-top: 5px;
  padding: 10px;
  background: var(--success);
  color: white;
  border-radius: 0.3rem;
  text-transform: capitalize;
}

.btn-more:hover, .btn-more:focus,
.btn-back:hover,
.btn-back:focus {
  border: 1px solid var(--lightgrey);
}

.tabs li {
  display: inline-block;
  margin: 4px;
  border: 1px solid transparent;
}

.tabs li .btn-tab {
  display: block;
  background: transparent;
  border: 1px solid var(--midgrey);
  border-radius: 12px;
  padding: 10px;
  color: #ccc;
}

.tabs li .btn-tab:hover, .tabs li .btn-tab:focus, .tabs li .btn-tab.active {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  overflow: hidden;
}

.scrolltop {
  width: 100%;
  margin: 10px 5px;
  text-align: right;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  width: 100%;
  background: var(--dark);
  color: #fff;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo span {
  color: var(--accent);
}

svg.github {
  display: inline-block;
  margin: 0 auto;
  margin-right: 2px;
  width: 18px;
  height: 18px;
  fill: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img.thumb,
img.preview {
  display: block;
}

.showcase {
  padding: 10px;
  background: #000;
  color: #fff;
}

.player {
  display: block;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  --webkit-aspect-ratio: 3 / 2;
}

.avatar {
  max-width: 200px;
  margin-right: 10px;
  border-radius: 0.25rem;
}

.featured-image {
  display: block;
  margin: 10px 0;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 22px;
}

.headline {
  font-size: 18px;
  line-height: 1.5;
}

.socials li {
  display: block;
}

.socials .social-link {
  display: block;
  font-size: 1.2em;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden !important;
}

.sticky-banner {
  position: fixed;
  z-index: 4;
}

.sticky-nav {
  position: fixed;
  z-index: 99;
}

.border {
  border: 1px solid;
}

.circle {
  border-radius: 50%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.p-1 {
  padding: 1em;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.navbar ul {
  margin-top: 2%;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  display: block;
  text-transform: capitalize;
}

.sidebar {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  z-index: 10;
}

.sidebar .btn-toggle {
  display: block;
  padding: 0;
  margin-top: 20px;
  margin-right: 25px;
}

.sidebar .btn-toggle span {
  font-size: 24px;
}

.sidebar .overlay {
  position: absolute;
  width: 0px;
  min-height: 100vh;
  top: 70px;
  right: 0px;
  background: #111;
  opacity: 0;
  z-index: 10;
}

.sidebar .overlay.active {
  width: 800px;
  opacity: 0.5;
  cursor: pointer;
}

.sidebar .slide-menu {
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 2%;
  background: #111;
  min-height: 100vh;
  width: 0px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99;
}

.sidebar .slide-menu.active {
  width: 200px;
  opacity: 1;
  pointer-events: auto;
}

.sidebar .slide-menu li {
  display: block;
  background: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar .slide-menu li a {
  display: block;
  margin: 10px 15px;
  padding: 10px;
  text-transform: capitalize;
}

.sidebar .slide-menu li:hover, .sidebar .slide-menu li:focus, .sidebar .slide-menu li.active {
  background: var(--primary);
}

.sidebar .slide-menu li:hover .nav-item, .sidebar .slide-menu li:focus .nav-item, .sidebar .slide-menu li.active .nav-item {
  color: var(--dark);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

section .content {
  margin: 1em;
  border-radius: 0.3rem;
}

section .headline {
  color: var(--light);
}

section .subtitle {
  color: var(--primary);
}

.faqs,
.contact {
  min-height: 70vh;
}

.hero,
.contact {
  padding: 5px;
  background: var(--hero-gradient);
  color: var(--light);
}

.hero .title,
.contact .title {
  color: var(--accent);
}

.hero li,
.contact li {
  line-height: 1.5em;
}

.hero li a,
.contact li a {
  margin: 1em;
  color: var(--light);
  font-size: 1.2em;
}

.hero li a:hover, .hero li a:focus,
.contact li a:hover,
.contact li a:focus {
  color: var(--accent);
  opacity: 1;
  -webkit-animation: hoverfade 0.3s ease-in;
          animation: hoverfade 0.3s ease-in;
}

.hero {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .logo {
  width: 100px;
  height: 100px;
}

.hero a {
  margin-right: 10px;
  vertical-align: middle;
}

.featured {
  padding-bottom: 1em;
  background: var(--lightblue-gradient);
  color: var(--dimmed);
}

.featured .title {
  color: var(--dark);
}

.featured .subtitle {
  color: var(--dark);
}

.about,
.skills {
  background: var(--purple);
}

.about .content p,
.skills .content p {
  color: var(--lightgrey);
}

.about .title,
.skills .title {
  color: var(--accent);
}

.portfolio {
  padding-bottom: 1em;
}

.portfolio .content {
  background: var(--hero-gradient);
  color: #fff;
}

.blog,
.faqs {
  padding: 5px;
  background: var(--lightgrey);
}

.blog .content p,
.faqs .content p {
  color: var(--dark);
}

.blog .title,
.faqs .title {
  color: var(--dark);
}

.blog .headline,
.faqs .headline {
  color: var(--dark);
}

.blog .subtitle,
.faqs .subtitle {
  color: var(--dark);
}

.card {
  width: 100%;
  padding: 10px;
}

.card img {
  width: 100%;
}

.slider-wrapper {
  display: block;
  position: relative;
  height: 480px;
  overflow: hidden;
  border-radius: 0.3rem;
}

.slider-wrapper .next,
.slider-wrapper .prev {
  position: absolute;
  display: block;
  top: 0;
  left: 85%;
  width: 15%;
  height: 100%;
  border: 1px solid transparent;
  color: var(--success);
  font-size: 25px;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-wrapper .next:hover, .slider-wrapper .next:focus,
.slider-wrapper .prev:hover,
.slider-wrapper .prev:focus {
  font-size: 30px;
  opacity: 1;
}

.slider-wrapper .prev {
  left: 0%;
  width: 10%;
}

.slider-wrapper .container-slides {
  display: block;
  position: relative;
  width: 1700px;
}

.slider-wrapper .container-slides li {
  display: inline-block;
  vertical-align: top;
}

.slider-wrapper #kl-slides {
  padding-top: 5%;
}

.slider-wrapper #kl-slides img {
  width: 80%;
}

.slider-wrapper .dotnav {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 45%;
  padding: 4px;
  text-align: left;
  border-radius: 10%;
}

.slider-wrapper .dotnav li {
  display: inline-block;
}

.slider-wrapper .dotnav li .dot-jd,
.slider-wrapper .dotnav li .dot-kl {
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 50%;
  background: var(--light);
  color: var(--dark);
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider-wrapper .dotnav li .dot-jd:hover, .slider-wrapper .dotnav li .dot-jd:focus, .slider-wrapper .dotnav li .dot-jd:active, .slider-wrapper .dotnav li .dot-jd.active,
.slider-wrapper .dotnav li .dot-kl:hover,
.slider-wrapper .dotnav li .dot-kl:focus,
.slider-wrapper .dotnav li .dot-kl:active,
.slider-wrapper .dotnav li .dot-kl.active {
  background: var(--midgrey);
  border: 1px solid var(--dark);
  padding: 10px;
}

.reveal {
  -webkit-animation: fade 1s forwards 1s ease;
          animation: fade 1s forwards 1s ease;
}

.fadein {
  opacity: 0;
}

.fadein:nth-child(1) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.fadein:nth-child(2) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.fadein:nth-child(3) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fadein:nth-child(4) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.fadein:nth-child(5) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.fadein:nth-child(6) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hoverfade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes hoverfade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  -webkit-animation: fadeout 0.3s forwards ease-in;
          animation: fadeout 0.3s forwards ease-in;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes zoom {
  from {
    width: 80%;
  }
  to {
    width: 120%;
  }
}

@keyframes zoom {
  from {
    width: 80%;
  }
  to {
    width: 120%;
  }
}

.jd-slides0 {
  -webkit-animation: jd-slides0 0.5s ease-in-out forwards;
          animation: jd-slides0 0.5s ease-in-out forwards;
}

.jd-slides1 {
  -webkit-animation: jd-slides1 0.5s ease-in-out forwards;
          animation: jd-slides1 0.5s ease-in-out forwards;
}

.kl-slides0 {
  -webkit-animation: kl-slides0 0.5s ease-in-out forwards;
          animation: kl-slides0 0.5s ease-in-out forwards;
}

.kl-slides1 {
  -webkit-animation: kl-slides1 0.5s ease-in-out forwards;
          animation: kl-slides1 0.5s ease-in-out forwards;
}

@-webkit-keyframes jd-slides0 {
  from {
    left: -330px;
  }
  to {
    left: 0px;
  }
}

@keyframes jd-slides0 {
  from {
    left: -330px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes jd-slides1 {
  from {
    left: 0px;
  }
  to {
    left: -330px;
  }
}

@keyframes jd-slides1 {
  from {
    left: 0px;
  }
  to {
    left: -330px;
  }
}

@-webkit-keyframes kl-slides0 {
  from {
    left: -850px;
  }
  to {
    left: 0px;
  }
}

@keyframes kl-slides0 {
  from {
    left: -850px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes kl-slides1 {
  from {
    left: 0px;
  }
  to {
    left: -850px;
  }
}

@keyframes kl-slides1 {
  from {
    left: 0px;
  }
  to {
    left: -850px;
  }
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 920px) {
  .scroll-up {
    position: relative;
  }
  .scroll-down {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(200, 200, 200, 0.5));
            filter: drop-shadow(10px 10px 10px rgba(200, 200, 200, 0.5));
  }
}

@media screen and (min-width: 1200px) {
  section .content {
    max-width: 600px;
  }
  .about,
  .skills,
  .blog,
  .faqs {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .content,
  .skills .content,
  .blog .content,
  .faqs .content {
    width: 50%;
    max-width: inherit;
  }
  .featured .content {
    width: 50%;
    min-width: 600px;
  }
  .split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .split > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  /* split adjacent sibling selector */
  .split > * + * {
    margin: 1em;
  }
}

@media screen and (max-width: 920px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .content {
    border-radius: 0;
  }
  section .products {
    margin-top: 10px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 820px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .avatar {
    display: none;
  }
  .tabs li {
    margin: 4px;
  }
  .tabs li .btn-tab {
    display: block;
    padding: 10px;
    width: 100%;
  }
}
