@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --black: #000;
  --darker: #111;
  --dimmed: #234;
  --midgrey: #555;
  --light: #fff;
  --lightgrey: #ddd;
  --highlight: #ccc;
  --lightblue: #8fe3ff;
  --lightblue-gradient: linear-gradient(90deg, #eee, #8fe3ff);
  --purple: #171d3e;
  --navyblue: #3552bb;
  --deepblue: #3a57be;
  --primary: #ffb822;
  --accent: #fff1c1;
  --success: darkgreen;
  --hero-gradient: linear-gradient(90deg, #171d3e, #323a5e);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  line-height: 1.2;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: normal;
}

h2,
h3,
h4,
p {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

blockquote {
  margin-bottom: 1rem;
  color: var(--black);
  font-weight: bold;
}

blockquote::before {
  position: relative;
  content: "''";
  top: 1rem;
  left: 0;
  color: var(--midgrey);
  font-size: 2rem;
  opacity: 0.3;
}

code,
pre {
  border-radius: 0.125em;
  font-family: 'Source Code Pro', 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', monospace;
  font-size: 13px;
  line-height: inherit;
}

pre {
  // border: 1px solid #ebebeb;
  background: rgba(0, 51, 102, 0.0625);
  color: #31333a;
  padding: 1rem;
  overflow: auto;
  white-space: pre-wrap;
}

.snippet {
  margin: 1em 0;
}

.highlight {
  background: var(--highlight);
}

.fa {
  margin-right: 10px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

img.thumb,
img.preview {
  display: block;
}

ul {
  list-style: none;
}

a {
  color: var(--light);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--primary);
    opacity: 1;
  }

  &.active {
    color: var(--primary);
  }
}

button,
.btn {
  display: inline-block;
  padding: 1em;
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-size: 16px;
  box-shadow: none;
  cursor: pointer;
}

.btn-back {
  background: var(--midgrey);
}

.btn-more,
.btn-back {
  border: 1px solid var(--dimmed);
  margin-top: 5px;
  padding: 10px;
  background: var(--success);
  color: white;
  border-radius: 0.3rem;
  text-transform: capitalize;

  &:hover,
  &:focus {
    border: 1px solid var(--lightgrey);
  }
}

.tabs {
  display: flex;

  li {
    margin: 4px;
    border: 1px solid transparent;

    .btn-tab {
      background: transparent;
      border: 1px solid var(--midgrey);
      border-radius: 12px;
      padding: 10px;
      color: #ccc;

      &:hover,
      &:focus,
      &.active {
        border: 1px solid var(--primary);
        color: var(--primary);
      }
    }

    .tech-tab {
      background: transparent;
      border: 1px solid var(--midgrey);
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: var(--darker);

      &:hover,
      &:focus {
        border: 1px solid var(--darker);
        background: var(--midgrey);
        color: var(--light);
      }
    }
  }
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 2400px;
  min-height: 100vh;
  overflow: hidden;
}

.scrolltop {
  width: 100%;
  margin: 10px;
  text-align: right;
}

header,
footer {
  display: flex;
  padding: 1em;
  width: 100%;
  background: var(--black);
  color: #fff;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo span {
  color: var(--accent);
}

svg.github {
  display: inline-block;
  margin: 0 auto;
  margin-right: 2px;
  width: 18px;
  height: 18px;
  fill: #fff;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.avatar {
  max-width: 200px;
  margin-right: 10px;
  border-radius: 0.25rem;
}

.featured-image {
  display: block;
  margin: 10px 0;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 22px;
}

.headline {
  font-size: 18px;
  line-height: 1.5;
}

.socials {
  li {
    display: block;
  }
  .social-link {
    display: block;
    font-size: 1.2em;
  }
}

/* .showcase {
  padding: 10px;
  background: #000;
  color: var(--light);
} */

/* .player {
  display: block;
  background: var(--black);
  color: var(--light);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    --webkit-aspect-ratio: 3 / 2;
  }
} */

@import 'styles/utils';
@import 'styles/nav';
@import 'styles/sections';
@import 'styles/card';
@import 'styles/slider';
@import 'styles/anims';
@import 'styles/mobile';
