@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --black: #000;
  --darker: #111;
  --dimmed: #234;
  --midgrey: #555;
  --light: #fff;
  --lightgrey: #ddd;
  --highlight: #ccc;
  --lightblue: #8fe3ff;
  --lightblue-gradient: linear-gradient(90deg, #eee, #8fe3ff);
  --purple: #171d3e;
  --navyblue: #3552bb;
  --deepblue: #3a57be;
  --primary: #ffb822;
  --accent: #fff1c1;
  --success: darkgreen;
  --hero-gradient: linear-gradient(90deg, #171d3e, #323a5e);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  line-height: 1.2;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: normal;
}

h2,
h3,
h4,
p {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

blockquote {
  margin-bottom: 1rem;
  color: var(--black);
  font-weight: bold;
}

blockquote::before {
  position: relative;
  content: "''";
  top: 1rem;
  left: 0;
  color: var(--midgrey);
  font-size: 2rem;
  opacity: 0.3;
}

code,
pre {
  border-radius: 0.125em;
  font-family: "Source Code Pro", "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", monospace;
  font-size: 13px;
  line-height: inherit;
}

pre {
  background: rgba(0, 51, 102, 0.0625);
  color: #31333a;
  padding: 1rem;
  overflow: auto;
  white-space: pre-wrap;
}

.snippet {
  margin: 1em 0;
}

.highlight {
  background: var(--highlight);
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

img.thumb,
img.preview {
  display: block;
}

caption {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 2rem;
  color: var(--light);
  font-size: 1rem;
  text-shadow: 3px 3px 3px var(--darker);
}

.fa {
  margin-right: 10px;
}

ul {
  list-style: none;
}

a {
  color: var(--light);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--primary);
  opacity: 1;
}
a.active {
  color: var(--primary);
}

button,
.btn {
  display: inline-block;
  padding: 1em;
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-size: 16px;
  box-shadow: none;
  cursor: pointer;
}

.btn-back {
  background: var(--midgrey);
}

.btn-more,
.btn-back {
  border: 1px solid var(--dimmed);
  margin-top: 5px;
  padding: 10px;
  background: var(--success);
  color: white;
  border-radius: 0.3rem;
  text-transform: capitalize;
}
.btn-more:hover, .btn-more:focus,
.btn-back:hover,
.btn-back:focus {
  border: 1px solid var(--lightgrey);
}

.tabs li {
  display: inline-block;
  margin: 4px;
  border: 1px solid transparent;
}
.tabs li .btn-tab,
.tabs li .tech-tab {
  padding: 0.5rem;
  background: transparent;
  color: var(--darker);
  border: 1px solid var(--midgrey);
  border-radius: 0.5rem;
}
.tabs li .btn-tab:hover, .tabs li .btn-tab:focus,
.tabs li .tech-tab:hover,
.tabs li .tech-tab:focus {
  border: 1px solid var(--darker);
  background: var(--midgrey);
  color: var(--light);
  opacity: 1;
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 2400px;
  min-height: 100vh;
  overflow: hidden;
}

header,
footer {
  display: flex;
  padding: 1em;
  width: 100%;
  background: var(--black);
  color: #fff;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo span {
  color: var(--accent);
}

svg.github {
  display: inline-block;
  margin: 0 auto;
  margin-right: 2px;
  width: 18px;
  height: 18px;
  fill: #fff;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.circle-top {
  position: fixed;
  display: block;
  z-index: 2;
  bottom: 2%;
  right: 10px;
  width: 80px;
  height: 80px;
  background: var(--midgrey);
  border: 1px solid var(--primary);
  border-radius: 50%;
  text-align: center;
  opacity: 0.6;
  transition: all 0.5s ease;
}
.circle-top:hover, .circle-top:focus {
  opacity: 1;
}
.circle-top a {
  display: block;
  margin-top: 40%;
  width: 100%;
  height: 100%;
  color: var(--light);
  font-size: 0.8rem;
  font-weight: 600;
}

.avatar {
  max-width: 200px;
  margin-right: 10px;
  border: 1px solid var(--black);
  border-radius: 50%;
}

.featured-image {
  display: block;
  margin: 10px 0;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 22px;
}

.headline {
  font-size: 18px;
  line-height: 1.5;
}

.socials li {
  display: block;
  margin: 10px 0;
}
.socials li a {
  display: block;
  font-size: 1.2em;
}

/* .showcase {
  padding: 10px;
  background: #000;
  color: var(--light);
} */
/* .player {
  display: block;
  background: var(--black);
  color: var(--light);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    --webkit-aspect-ratio: 3 / 2;
  }
} */
.block {
  display: block;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden !important;
}

.sticky-banner {
  position: fixed;
  z-index: 4;
}

.sticky-nav {
  position: fixed;
  z-index: 99;
}

.border {
  border: 1px solid;
}

.circle {
  border-radius: 50%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.p-1 {
  padding: 1em;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.navbar {
  display: block;
}
.navbar ul {
  margin-top: 0.5rem;
}
.navbar ul li {
  display: inline-block;
  margin-left: 2rem;
}
.navbar ul li a {
  display: block;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
}

.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active {
  border-bottom: 1px solid var(--primary);
}

.sidebar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 10;
}
.sidebar .btn-toggle {
  display: block;
  padding: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}
.sidebar .btn-toggle span {
  font-size: 1.8rem;
}
.sidebar .overlay {
  position: absolute;
  width: 0;
  min-height: 100vh;
  top: 70px;
  right: 0;
  background: var(--darker);
  opacity: 0;
  z-index: 10;
}
.sidebar .overlay.active {
  width: 800px;
  opacity: 0.5;
  cursor: pointer;
}
.sidebar .slide-menu {
  position: absolute;
  top: 70px;
  right: 0;
  padding: 1rem;
  background: var(--darker);
  min-height: 100vh;
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  z-index: 99;
}
.sidebar .slide-menu.active {
  width: 200px;
  opacity: 1;
  pointer-events: auto;
}
.sidebar .slide-menu li {
  display: block;
  background: inherit;
  transition: all 0.5s;
}
.sidebar .slide-menu li a {
  display: block;
  margin: 1rem 15px;
  padding: 1rem;
  text-transform: capitalize;
}
.sidebar .slide-menu li:hover, .sidebar .slide-menu li:focus, .sidebar .slide-menu li.active {
  background: var(--primary);
}
.sidebar .slide-menu li:hover .nav-item, .sidebar .slide-menu li:focus .nav-item, .sidebar .slide-menu li.active .nav-item {
  color: var(--black);
}

section {
  display: flex;
  width: 100%;
}
section .content {
  margin: 1rem;
  border-radius: 0.3rem;
}
section .headline {
  color: var(--light);
}
section .subtitle {
  color: var(--primary);
}

.faqs,
.contact {
  min-height: 90vh;
}

.hero,
.contact {
  padding: 5px;
  background: var(--hero-gradient);
  color: var(--light);
}
.hero .title,
.contact .title {
  color: var(--accent);
}
.hero li,
.contact li {
  line-height: 1.5rem;
}
.hero li a,
.contact li a {
  margin: 1em;
  color: var(--light);
  font-size: 1.2rem;
}
.hero li a:hover, .hero li a:focus,
.contact li a:hover,
.contact li a:focus {
  color: var(--accent);
  opacity: 1;
  -webkit-animation: hoverfade 0.3s ease-in;
          animation: hoverfade 0.3s ease-in;
}

.hero {
  justify-content: space-between;
}
.hero .logo {
  width: 100px;
  height: 100px;
}
.hero a {
  margin-right: 10px;
  vertical-align: middle;
}

.featured {
  margin: 0;
  padding: 1rem 0;
  background: var(--lightblue-gradient);
  color: var(--dimmed);
}
.featured .title {
  color: var(--black);
}
.featured .subtitle {
  color: var(--black);
}

.about,
.skills {
  background: var(--lightgrey);
}
.about .content p,
.skills .content p {
  color: var(--black);
}
.about .title,
.skills .title {
  color: var(--a);
}

.portfolio {
  padding-bottom: 1em;
}
.portfolio .content {
  background: var(--hero-gradient);
  color: var(--light);
}

.blog,
.faqs {
  padding: 5px;
  background: var(--lightgrey);
}
.blog .content p,
.faqs .content p {
  color: var(--midgrey);
}
.blog .title,
.faqs .title {
  color: var(--black);
}
.blog .headline,
.faqs .headline {
  color: var(--black);
}
.blog .subtitle,
.faqs .subtitle {
  color: var(--black);
}

.card {
  width: 100%;
  padding: 10px;
}
.card img {
  width: 100%;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #567;
  overflow: hidden;
}
.slider-wrapper .slide {
  position: relative;
  max-width: 720px;
}
.slider-wrapper .slide img {
  border: 1px solid var(--black);
  border-radius: 2%;
  text-align: center;
}
.slider-wrapper .slide caption {
  font-size: 1.4rem;
  text-shadow: 3px 3px 3px var(--darker);
}
.slider-wrapper .menu {
  width: 100%;
  background-color: transparent;
  text-align: left;
}
.slider-wrapper .menu li {
  position: relative;
  display: inline-block;
  margin-right: 4px;
}
.slider-wrapper .menu li a {
  height: 100%;
  background: transparent;
  color: var(--dark);
  text-align: center;
}
.slider-wrapper .menu li a img {
  max-width: 360px;
  border: 2px solid var(--black);
  border-radius: 4%;
  opacity: 0.7;
  transition: all 0.5s;
}
.slider-wrapper .menu li a img:hover, .slider-wrapper .menu li a img:focus {
  opacity: 1;
}
.slider-wrapper .menu li a caption {
  bottom: 1rem;
  font-size: 1.2rem;
}
.slider-wrapper .menu li a.active img {
  border: 2px solid var(--primary);
  opacity: 1;
}

.reveal {
  -webkit-animation: fade 1s forwards 1s ease;
          animation: fade 1s forwards 1s ease;
}

.fadein {
  opacity: 0;
}
.fadein:nth-child(1) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.fadein:nth-child(2) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.fadein:nth-child(3) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.fadein:nth-child(4) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.fadein:nth-child(5) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.fadein:nth-child(6) {
  -webkit-animation: fade 300ms forwards ease-in;
          animation: fade 300ms forwards ease-in;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes hoverfade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes hoverfade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.fadeout {
  -webkit-animation: fadeout 0.3s forwards ease-in;
          animation: fadeout 0.3s forwards ease-in;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes zoom {
  from {
    width: 80%;
  }
  to {
    width: 120%;
  }
}
@keyframes zoom {
  from {
    width: 80%;
  }
  to {
    width: 120%;
  }
}
.jd-slides0 {
  -webkit-animation: jd-slides0 0.5s ease-in-out forwards;
          animation: jd-slides0 0.5s ease-in-out forwards;
}

.jd-slides1 {
  -webkit-animation: jd-slides1 0.5s ease-in-out forwards;
          animation: jd-slides1 0.5s ease-in-out forwards;
}

.kl-slides0 {
  -webkit-animation: kl-slides0 0.5s ease-in-out forwards;
          animation: kl-slides0 0.5s ease-in-out forwards;
}

.kl-slides1 {
  -webkit-animation: kl-slides1 0.5s ease-in-out forwards;
          animation: kl-slides1 0.5s ease-in-out forwards;
}

@-webkit-keyframes jd-slides0 {
  from {
    left: -330px;
  }
  to {
    left: 0;
  }
}

@keyframes jd-slides0 {
  from {
    left: -330px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes jd-slides1 {
  from {
    left: 0;
  }
  to {
    left: -330px;
  }
}
@keyframes jd-slides1 {
  from {
    left: 0;
  }
  to {
    left: -330px;
  }
}
@-webkit-keyframes kl-slides0 {
  from {
    left: -850px;
  }
  to {
    left: 0;
  }
}
@keyframes kl-slides0 {
  from {
    left: -850px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes kl-slides1 {
  from {
    left: 0;
  }
  to {
    left: -850px;
  }
}
@keyframes kl-slides1 {
  from {
    left: 0;
  }
  to {
    left: -850px;
  }
}
.split {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 920px) {
  .scroll-up {
    position: relative;
  }
  .scroll-down {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px rgba(200, 200, 200, 0.5));
  }
}
@media screen and (min-width: 1200px) {
  .about,
.skills,
.blog,
.faqs {
    align-items: flex-start;
    justify-content: center;
  }
  .about .content,
.skills .content,
.blog .content,
.faqs .content {
    width: 60%;
    max-width: inherit;
  }
  .featured .content {
    width: 50%;
    min-width: 600px;
  }
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* split adjacent sibling selector */
  .split > * + * {
    margin: 1em;
  }
}
@media screen and (max-width: 1200px) {
  section .content {
    border-radius: 0;
  }
  section .products {
    margin-top: 10px;
  }
  footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 920px) {
  .featured .content {
    width: 50%;
  }
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  section {
    flex-direction: column;
  }
  .featured .content {
    width: 95%;
  }
  .navbar {
    display: none;
  }
  .sidebar {
    display: block;
  }
  .tabs li {
    margin: 4px;
  }
  .tabs li .btn-tab {
    display: block;
    padding: 10px;
    width: 100%;
  }
}